@import "tailwindcss";
/* @tailwind base; */
/* @import "tailwindcss/preflight" */
/* @tailwind utilities; */
/* @tailwind utilities; */
/* @import utilities; */

/* 这里的 Custom Scrollbar 是可选的，为了更好看 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
